<!doctype html>
<html ng-app="classyPrep">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="./src/controller.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./src/todo.css">
</head>

<body>
  <div id="container">
    <img id="logo" src="./src/logo.svg"> </img>
    <h2 class="centerText">Technical Analyst </br>AngularJS + Jquery Demo</h2>
    <div class="listDiv" ng-controller="classyPrepController as todoList">
      <!-- Form  with Default submit of addToDo method-->
      <form ng-submit="todoList.addTodo()">
        <input class="taskTitle" type="text" ng-model="todoList.todoText" size="30"
          placeholder="What would you like to do today?">
        <!-- Button to submit -->
        <input class="btn-primary" type="submit" value="Let's go!">
      </form>
      <!-- List -->
      <ul class="list">
        <!-- For each todo in todoList create a label, input and span -->
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <!--Archive-->
      <div class="countArchive" >{{todoList.remaining()}} of {{todoList.todos.length}} remaining
        <!-- Archive Button-->
        <br />
        <input type="submit" class="crushTaskButton" ng-show="todoList.todos.length >= 1" ng-click="todoList.archive()" value="Crush Completed Tasks">
      </div>
    </div>
  </div>
</body>

</html>