* {
  font-family: "Roboto", sans-serif;
}
#container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
}
#logo {
  height: 100px;
}
.centerText {
  text-align: center;
}
.taskField {
  margin: auto;
}
.listDiv {
  width: 25vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.countArchive {
  margin-top: 20px;
  text-align: center;
}
.crushTaskButton {
  margin-top: 5px;
}
.done-true {
  text-decoration: line-through;
  color: green;
}
